<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <header>

        <h1 style="text-align: center;">ŠOKLIUKAS</h1>
        <a href="/home.page.html">
            <img src="/photo/logo.png" alt="plane.logo" width="300" height="200"></a>
        <nav id="navmain">
            <a href="/blog.html">BLOG'AS</a>
            <br>
            <a href="/travel.form.html">UŽSISAKYK KELIONĘ</a>
            <a href="/login.html" style="float: right">PRISIJUNGTI</a>
        </nav>

        <nav>
            <h4>SVETAINĖS GIDAS:</h4>
            <nav>
                <ul>
                    <li><a href="travel">Kelionių pasiūlymai</a></li>
                    <li><a href="auto">Autonuoma</a></li>
                    <li><a href="tips">Patarimai keliautojams</a></li>
                    <li><a href="journal">Kelionių žurnalas</a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <div>
        <video style="width: 100%; height: 500px" autoplay controls loop>
            <source src="/video/plane.mp4.mp4" type="video/mp4">
        </video>
        <h2 style="text-align: center;">PASIEK VISUS PASAULIO KAMPELIUS JAU DABAR</h2>
    </div>

    <div id="travel">
        <h3>KELIONIŲ PASIŪLYMAI</h3>
        <figure>
            <img src="/photo/venecia-italia.jpg" height="300px" width="650px" Italia" />
            <figcaption><strong>Italija, Venecija</figcaption></strong>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <button>KAINA 100€</button>
        </figure>

        <figure>
            <img src="/photo/alaska.jpg" height="300px" width="650px" Italia" />
            <figcaption><strong>JAV, Aliaska</figcaption></strong>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <button>KAINA 300€</button>
        </figure>

        <figure>
            <img src="/photo/PARYZIUS.jpg" height="300px" width="650px" Italia" />
            <figcaption><strong>France, Paryžius</figcaption></strong>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <button>KAINA 50€</button>
        </figure>
    </div>

    <table border="1" id="auto">
        <thead>
            <h3>Mašinų nuoma</h3>
        </thead>

        <tr>
            <th>Mašinos markė</th>
            <th>Modelis</th>
            <th>1 dienai</th>
            <th>2 dienom</th>
            <th>3 dienom</th>
        </tr>
        </thead>

        <tbody>

            <tr>
                <td><img src="/photo/Logo-bmw-vector-transparent-PNG.png" style="width: 100px; height; 50px"
                        alt="BMW" /></td>
                <td>
                    <img src="/photo/HtpZNJ-blue-bmw-coupe-car-transparent-background.png" alt="bmw model"
                        style="width: 100px; height: 50px" />
                </td>
                <td style="text-align: center;">100$</td>
                <td style="text-align: center;">200$</td>
                <td style="text-align: center;">250$</td>
            </tr>

            <tr>
                <td><img src="/photo/mercedes-benz-a-class-car-daimler-ag-logo-benz-logo.jpg"
                        style="width: 100px; height; 50px" alt="Mercedes benz" /></td>
                <td>
                    <img src="/photo/3d98011fe029c408741fb8e76a267be1.jpg" alt="Mercedes"
                        style="width: 100px; height: 50px" />
                </td>
                <td style="text-align: center;">150$</td>
                <td style="text-align: center;">250$</td>
                <td style="text-align: center;">300$</td>
            </tr>

            <td><img src="/photo/toyota-corolla-car-honda-logo-toyota-vitz-toyota.jpg"
                    style="width: 100px; height; 50px" alt="Mercedes benz" /></td>
            <td>
                <img src="/photo/car-toyota-corolla-renault-chrysler-bmw-6-series-car.jpg" alt="Mercedes"
                    style="width: 100px; height: 50px" />
            </td>
            <td style="text-align: center;">150$</td>
            <td style="text-align: center;">250$</td>
            <td style="text-align: center;">300$</td>
            </tr>

            <td><img src="/photo/atsisiųsti.png" style="width: 100px; height; 50px" alt="Mercedes benz" /></td>
            <td>
                <img src="/photo/Audi-sports-car-white-on-transparent-background-PNG.png" alt="Mercedes"
                    style="width: 100px; height: 100px" />
            </td>
            <td style="text-align: center;">150$</td>
            <td style="text-align: center;">250$</td>
            <td style="text-align: center;">300$</td>
            </tr>
        </tbody>
    </table>

    <div id="tips">
        <h3>Pasiūlymai ir rekomendacijos keliautojams</h3>
        <ul>

            <ol type="a">
                <li>Norėčiau tik pasakyti, kad keliauti yra vienas iš smagiausių dalykų</li>
                <li>Pirmiausia pradėkime nuo to kad reikia tureti pinigu norint keliauti i maldyvus ir pnš</li>
            </ol>
            <li>1</li>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>

            <li>2</li>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>

            <li>3</li>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </ul>

        <div>
            <h2>Travel journal</h2>
            <article id="journal">
                <header>
                    <h3>Niekada nesakyk niekada</h3>
                    <h5>kažkas</h5>
                </header>

                <h4>Čia negali būti jūsų reklama</h4>
                <p><strong><del> <a href="wwww.google.com">Čia geriau nespausti!</a>„Nes suprantame, kad tiek ukrainiečiai norėtų galbūt didesnio įsitraukimo, didesnio
                            ženklo, galios parodymo
                            tai pačiai agresorei Rusijai, kad taip elgtis negalima.
                            Tačiau taip pat reikia suprasti, kad NATO šalys, kurios esame prie Rusijos, niekas nenori
                            situacijos
                            eskalavimo“, – pabrėžė Žinių radijo pašnekovas.
                    </strong></del></p>
                <h4>Čia negali būti jūsų reklama</h4>
                <p>Nes suprantame, kad tiek ukrainiečiai norėtų galbūt didesnio įsitraukimo, didesnio ženklo, galios
                    parodymo
                    tai pačiai agresorei Rusijai, kad taip elgtis negalima.
                    Tačiau taip pat reikia suprasti, kad NATO šalys, kurios esame prie Rusijos, niekas nenori situacijos
                    eskalavimo“, – pabrėžė Žinių radijo pašnekovas.
                </p>
            </article>

        
                <header>
                    <h3>Niekada nesakyk niekada</h3>
                    <h5>kažkas</h5>
                </header>     
            
                    <h4>Čia negali būti jūsų reklama</h4>
                    <p><strong><del>„Nes suprantame, kad tiek ukrainiečiai norėtų galbūt didesnio įsitraukimo, didesnio ženklo, galios parodymo
                        tai pačiai agresorei Rusijai, kad taip elgtis negalima.
                        Tačiau taip pat reikia suprasti, kad NATO šalys, kurios esame prie Rusijos, niekas nenori situacijos
                        eskalavimo“, – pabrėžė Žinių radijo pašnekovas.
                    </strong></del></p>
                    <h4>Čia negali būti jūsų reklama</h4>
                    <p><a href="wwww.google.com">Čia geriau nespausti!</a>Nes suprantame, kad tiek ukrainiečiai norėtų galbūt didesnio įsitraukimo, didesnio ženklo, galios parodymo
                        tai pačiai agresorei Rusijai, kad taip elgtis negalima.
                        Tačiau taip pat reikia suprasti, kad NATO šalys, kurios esame prie Rusijos, niekas nenori situacijos
                        eskalavimo“, – pabrėžė Žinių radijo pašnekovas.
                    </p>
                </section>
            </article>
            </div>   
</body>

<footer>
    <nav id="navbottom">
      <a href="/blog.html" style="text-align: left;">BLOG'AS</a>
      <a href="/travel.form.html" style="text-align: center;">UŽSISAKYK KELIONĘ</a>
      <a href="login.html" style="float: right">PRISIJUNGTI</a>
    </nav>
    <p style="text-align: end;">Copyright&copy;</p>
    <h6 style="text-align: center;">Visos teisės saugomos Ryčka 99</h6>
  </footer>



</html>